body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  }
h2,h5 {
  text-align: center; 
  font-family: 'Roboto Mono', monospace;
}
h2{
  font-size: 32px;
}


                            /*VARIAVEIS*/
/*
#772704 MARROM ESCURO
#D4AF37 AMARELO
*/

$BACKG_HEADER: #131512; /*FUNDO DO NAVBAR*/
$BACKG_HOVER_NAV: #772704;
$BACKG_NAVBAR: #131512;
$nav_a_color: #D4AF37;
$nav_a_hover: #D4AF37;
$cont_hover_backg_curso: #CD7F32;
$backg_video_exp: rgba(255, 255, 255, 0.8);
$cont_exp_p: #333;
$backg_cont_esco: #2c3e50;
$backg_card_esco: #f1f1f1;
$backg_h2_formacao: #D4AF37;
$formacao_p: #260101;
$backg_formacao: #772704;
$h2_exp: #260101;
$backg_ojb_prof: linear-gradient(510deg, #CD7F32, #D4AF37, #F2D0A7, #BF6E26, #BF895A);
$backg_toggle_pessoal: #CD7F32;
$h2_pessoal: #260101;
$backg_details_pers: #CD7F32;
$botao_acao: #D4AF37; /*772704*/
$backg_trab: #D4AF37;
$backg_cursos: #772704;
$h2_title_curso: #D4AF37;
$backg_content_curso: #D4AF37;
                              /*EXPERIENCIA*/
$backg_expe:#D4AF37;
                              /*RESPONSIVE*/  
$toggler_icon:#772704;
$btn_toggler_icon: #772704;
$color_nav_brand: #D4AF37;
$backg_color_navbar: #772704;
$color_navbar_brand_hover: #D4AF37;
                              /*MENU*/
.fixed {
  position: fixed!important;
  width: 100%;
  bottom: 0;
  z-index: 20; 
position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  position: relative;
  display: flex;
  justify-content: center;
  background: $BACKG_HEADER; }

.navbar-dark {
  background: $BACKG_NAVBAR; 
          ul {
            display: flex;
            justify-content: center; 
              li{
                display: flex;
                align-items: center; 
                text-transform: uppercase;
                &:hover{
                  background:$BACKG_HOVER_NAV;  
                  border-radius: 10px;
                }
                a{
                  color:$nav_a_color;
                  &:hover{
                    color:$nav_a_hover;

                  }
                }
              }
            }
}
                        /*PESSOAL*/
.pessoal {
   background: url(esc.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; 
    .card {
      position: relative;
      width: 300px;
      height: 280px;
      overflow: hidden;
      border-radius: 20px; 
      border: none;
    }
  }

                            /*CARDS*/

.card{
  position: relative;
  width: 300px;
  height: 280px;
  overflow: hidden;
  border: none;
}
input,
.toggle{
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 12px;
  right: 14px;
  outline: none;
  z-index: 10;
}
input{
  opacity: 0;  
}
.toggle{
  pointer-events: none;
  border-radius: 50%;
  background: $backg_toggle_pessoal;
  transition: 0.5s;
  text-align: center;
  line-height: 50px;
  font-size: 36px;

}
input:checked ~ .toggle{
  box-shadow: 0 0 0 500px $botao_acao; 
  transform: rotate(200deg);  
}
.imgBx,
.details{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.details{
   padding: 10px;
   box-sizing: border-box;
   z-index: 11;
   pointer-events: none;
   transition: 0.5s;
   opacity: 0;
   h2{
    color: $h2_pessoal;
   }
   span{
    color: $h2_pessoal;
   }
   ul {
    padding-left: 10px;
    padding-top: 10px;

        li{
      list-style: none;
     }

   }
}
input:checked ~ .details{
  opacity: 1;
  transition-delay: 0.5s;
}
h1{
text-align: center;
  color: #fff;

}


/*.card{
  position: relative;
  width: 300px;
  height: 280px;
  overflow: hidden;
  border: none;

}
input,
.toggle{
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  outline: none;
  z-index: 10;
}
input{
  opacity: 0;  
}
.toggle{
  pointer-events: none;
  border-radius: 50%;
  background: $backg_toggle_pessoal;
  transition: 0.5s;
  text-align: center;
  line-height: 50px;
  font-size: 36px;
  box-shadow: 0 0 0 0px $botao_acao;
}
input:checked ~ .toggle{
  box-shadow: 0 0 0 500px $botao_acao; 
  transform: rotate(200deg);  
}
.imgBx,
.details{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.details{
   padding-top: 20px;
   padding-left: 10px;
   padding-right: 10px;
   box-sizing: border-box;
   z-index: 11;
   pointer-events: none;
   transition: 0.5s;
   opacity: 0;
   background: $backg_details_pers;
   h2{
    color: $h2_pessoal;
   }
   span{
    color: $h2_pessoal;
   }
   ul {
    padding-left: 0;
    padding-top: 40px;

        li{
      list-style: none;
     }
   }
 
}
input:checked ~ .details{
  opacity: 1;
  transition-delay: 0.5s;
}
*/

                           /*objetivo profissional*/
.obj-profissional {
  height: 200px;
  background: $backg_ojb_prof;
  background-size: 400% 400%;
  animation: BackgroundGradient 10s ease infinite; 
  .col{
    padding-top: 40px;
  

  }
}

@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }



                            /*ESCOLARIDADE FORMACAO*/
.formacao {
  height: auto;
  padding-bottom: 30px;
  background: $backg_formacao; 
  .escolaridade{
    padding-top: 50px;
    padding-bottom: 20px;
  }
  h2{
    color: $backg_h2_formacao;
  }
  p{
    color: $formacao_p;
  }
}

.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.card {
  width: 340px;
  height: 230px; 
  border-radius: 10px;
    &:hover > .front {
      transform: perspective(600px) rotateY(-180deg); 
      }
      &:hover > .card-body {
  transform: perspective(600px) rotateY(0deg); };
}

.front, .card-body {
  text-align: center;
  width: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear; }

.front {
  transform: perspective(600px) rotateY(0deg);
  height: 100%;
    img {
      padding-top: 20px;
      height: 150px;
      text-align: center; }

   }

.card-body {
  transform: perspective(600px) rotateY(180deg); 
  h2{
     padding-bottom: 20px;
  }
 
    ul {
      padding: 0;
        li{
        list-style: none;
        margin-bottom: 0;
        p{
          padding: 0;
          margin-bottom: 0;
        }
      }

    }

    
}

.back-content {
  color: $backg_cont_esco;
  text-align: center;
  width: 100%; }
/*
.sm {
  margin: 20px 0; 
    a {
      display: inline-flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      color: #2c3e50;
      font-size: 18px;
      transition: 0.4s;
      border-radius: 50%; 
      &:hover {
        background: #2c3e50;
        color: white; }
    }
}
*/


                            /*EXPERIENCIA PROFISSIONAL*/
.experiencia{
  background: $backg_expe;

}
.content-box{
  height: auto;
    ul {
    list-style-type: none;
    li .title{
      font-weight: bold;   
    }
  }

}


/*                            
.content-section {
  width: 50%;
  margin: 0 auto;
  padding: 15% 0; 
    h2 {
      text-transform: uppercase;
      margin-bottom: 15px; 
    }
    p {
      font-size: 1.2em;
      color: $cont_exp_p; 
    }
}

.video-section {
  position: relative;
  width: 100%;
  
  overflow: hidden; }

#video-elem {
  width: 100%; 
height: 100%;}

video::-webkit-media-controls {
  display: none !important; }

.video-overlay {
  position: absolute;
  top: 20px;
  bottom: 20px;
  right: 250px;
  left: 250px;
  background-color: $backg_video_exp;
  opacity: 0;
  transition: opacity 0.3s ease; 
  border-radius: 10px;

  h2{
    padding-top: 20px;
    padding-bottom: 30px;
    color: $h2_exp;

  }

  &:hover {
  opacity: 0.8; }
  ul{
    list-style: none;
    .title{
      font-weight: bold;
    }
  }

}
*/
                                /*TRABALHOS*/
.trabalho {
  background: $backg_trab;
  height: 150px;
  max-height: auto; 
  h2{
    padding-top: 20px;
    color: $h2_exp;

  }

}

                                /*CURSOS*/
.curso{
  padding-bottom: 100px;
  background: $backg_cursos;
  h2{
    color: $h2_title_curso;
  }
  h4{
    padding: 10px 0;
  }
  .ano{
    text-decoration: italic;
  }
}
.conteudo-curso .conteudo {
  background: $backg_content_curso;
    border-radius: 5px; 
    padding: 5px;
    margin-right: 5px;
  &:hover {
    background: $cont_hover_backg_curso;
    transform: scale(1.1);
    transition: 0.9s; 
    h4{
      color: #fff;
    }
    p{
      color: #fff;
    }
  }
}
                                          /*RESPONSIVE*/
                                          
.navbar-toggler-icon{
  COLOR: #D4AF37;

}
.navbar-toggler{
  background: $btn_toggler_icon;
  
}
.navbar-brand{
  border-radius: 10px;
  padding: 5px;
  color: $color_nav_brand;
  &:hover{
    background: $backg_color_navbar;
    color: $color_navbar_brand_hover;
    padding: 5px;
  }
}
.navbar-collapse ul li{
  
      padding-top:0;
    padding-bottom: 0;
    a{
      padding: 0;
    }

}
                                              /*QUERIES*/
                                          /*768 para cima esconder menu1*/
@media screen and (min-width: 992px) {
 .navbar-brand{
    display: none;
  }


}

                                        /*767 PARA BAIXO TIRA PADDING */

@media screen and (min-width: 768px) and (max-width:991px) {

   .content_formacao{
    padding: 20px;
  }
  .video-overlay {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 20px;
    left: 20px;

      h2{
        padding-top: 5px;
        padding-bottom: 5px;
      }

  }    

}

  .navbar-collapse ul li{
padding-left: 10px;
  }

@media screen and (max-width: 768px){
  .conteudo-curso .conteudo:hover {
     transform: scale(1);
  }
  .content_formacao{
    padding: 20px;
  }
 

    .video-overlay {
    position: absolute;
    
    
    right: 20px;
    left: 20px;

      h2{
        padding-top: 5px;
        padding-bottom: 5px;
      }

  }  

}

/*# sourceMappingURL=style.css.map */
